.movie {
  display: flex;
  justify-content: space-between;
  background-color: #2F2F2F;
}

.movie__info {
padding-left: 22px;
}

.movie__data {
  /* padding-left: 22px; */
  margin-bottom: 27px;
}

.movie__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  margin: 22px 0 13px;
}

.movie__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18; 
  color: #8B8B8B;
  margin: 0;
 
}

.movie__like {
  height: 12px;
  width: 14px;
  background-image: url('../../images/heart-disable.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.movie__like:hover {
  opacity: 0.5;
}

.movie__image {
width: 220px;
height: 122px;
padding: 6px;
}

@media screen and (max-width: 560px) {
  .movie {
    flex-direction: column-reverse;
    /* align-items: flex-start; */
    align-items: center;
  }


  .movie__info {
    padding-left: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .movie__data{
    /* padding-left: 12px; */
    margin-bottom: 14px;
    margin-right: 10px;
  }

  .movie__title {
    font-size: 12px;
    line-height: 1.25;
    margin: 14px 0 8px;
  }

  .movie__image {
    max-width: 100%;
    width: 300px;
    padding: 0;
    min-height: 168px;
  }

  .movie__like {
    margin-right: 16px;
  }
}