.profile {
  max-width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 74px auto 70px;
}

.profile__title {
  margin: 0 0 107px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
}

.profile__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;
  padding-bottom: 18px;
  padding-top: 16px;
}

.profile__label:first-child {
  border-bottom: 1px solid #424242;
}

.profile__input {
  color: inherit;
  width: calc(100% - 80px);
  text-align: end;
  background-color: inherit;
  /* padding: 15px; */
  border: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  padding: 0;
  /* padding-bottom: 16px;
  padding-top: 16px; */
}

.profile__input:focus {
  outline: none;
  border-bottom: 1px dotted gray;
}

.profile__input:invalid {
  color: #ee3465;
}

.profile-input__error {
  opacity: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ee3465;
  display: block;
  height: 14px;
  /* padding-top: 7px; */
} 
.profile-input__error_active{
  opacity: 1;
}

.profile__btn-edit {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.24;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 130px;
  margin: 0px auto 14px;
  color: inherit;
}

.profile__btn-edit:hover {
  transform: scale(1.03);
  opacity: 0.7;
}
.profile__btn-edit:focus {
  outline: none;
  font-weight: 900;
  opacity: 0.7;
}

.profile__btn-exit {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.24;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 180px;
  margin: 0 auto;
  color: #ee3465;
}

.profile__btn-exit:hover {
  transform: scale(1.03);
  opacity: 0.7;
}

.profile__btn-exit:focus {
  outline: none;
  font-weight: 900;
  opacity: 0.7;
}

.profile__btn-save {
  background-color: #4285f4;
  width: 410px;
  height: 45px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  box-sizing: border-box;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin: 0px auto 14px;
}

.profile__btn-save:focus {
  outline: none;
  border: 1px solid white;
}

.profile__btn-save:hover {
  opacity: 0.8;
}

.profile__btn-save_disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: default;
}

.profile__btn-save_disabled:hover {
  opacity: 1;
}

.profile__error{
  opacity: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #ff004c;
  height: 14px;
  padding: 7px 0;
  margin-top: 159px;
}

.profile__error_active {
  opacity: 1;
}

.profile__label:last-of-type {
padding-top: 4px;
/* margin-bottom: 180px; */
}

@media screen and (max-width: 960px) {
  .profile {
    margin: 236px auto 269px;
  }

  .profile__title {
    margin-bottom: 82px;
  }

  .profile__error {
    margin-top: 154px;
  }

  .profile__label {
    padding-bottom: 15px;
    padding-top: 12px;
  }
  .profile__label:last-of-type {
    margin-bottom: 0px;
    }
}

@media screen and (max-width: 560px) {
  .profile {
    max-width: 260px;
    margin: 70px auto 40px;
  }

  .profile__title {
    margin-bottom: 65px;
  }

  .profile__error{
    margin-top: 322px;
  }

  .profile__btn-save {
    max-width: 260px;
    font-size: 12px;
  }
  .profile-input__error {
    font-size: 8px;
  line-height: 1;
  }
  
}
