.navBar {
  width: 100%;
}

.navBar__unLogged {
  display: flex;
  justify-content: flex-end;
}

.navBar__unLogged-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
}

.navBar__unLogged-item {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-decoration: none;
  margin-right: 30px;
  /* padding: 8px 20px; */
}

.navBar__unLogged-item:last-child {
  margin-right: 0;
}

.navBar__link-unLogged {
  color: white;
  text-decoration: none;
  
}



.navBar__unLogged-btn {
  color: white;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.navBar__link-unLogged:hover {
    opacity: 0.8;
}

.navBar__link-unLogged:focus {
  outline: none;
  transform: scale(1.04);
  opacity: 0.7;

}
.navBar__unLogged-btn_type_login {
  color: black;
  background-color: #3DDC84;
  border-radius: 3px;
  margin-right: 0px;
  padding: 8px 20px;
}

.navBar__logged {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 44px;
}

.navBar__link-logged{
  color: white;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  text-decoration: none;
}

.navBar__link-logged_active {
  font-weight: 500;
}

.navBar__link-logged:hover{
  opacity: 0.7;
}

.navBar__link-logged:first-child{
  margin-right: 16px;
}

.navBar__wrap {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navBar__profile{
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.navBar__profile:hover{
  transform: scale(1.04);
  opacity: 0.7;
}

.navBar__profile-logo{
  margin-left: 17px;
  display: block;
  background-color: #313131;
  border-radius: 4px;
  width: 26px;
  height: 30px;
  border: none;
  background-image: url('../../images/icon_acount.svg');
  background-repeat: no-repeat;
  background-position: center;

}

.navBar__burger{
  display: none;
}


@media screen and (max-width: 768px) {
.navBar_burgerPosition {
  display: flex;
  justify-content: flex-end;
}

  .navBar__logged {
    display: none;
  }

  .navBar__burger{
    margin-right: 8px;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
    display: block;
    background-color: transparent;
    border: none;
    z-index: 8;
  }

  .navBar__burger:hover{
    opacity: 0.7;
  }
  
  .navBar__burgerLine {
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navBar__burgerLine:nth-of-type(2) {
    top: calc(50% - 10px);
  }
  .navBar__burgerLine:nth-of-type(3) {
    top: calc(50% + 10px);
  }
/* делаем бургер активным - класс будет доб.при клике на бургер */
  .navBar__burger_active {
    margin-left: 9px;
    width: 21px;
  }
  
  .navBar__burger_active:nth-of-type(1){
    display: none;
  }
  .navBar__burger_active:nth-of-type(2){
    top: 50%;
    transform: translate(-50%, 0)  rotate(45deg)
  }
  .navBar__burger_active:nth-of-type(3){
    top: 50%;
    transform: translate(-50%, 0)  rotate(-45deg)
  }
}

@media screen and (max-width: 560px) {
  .navBar__unLogged-item {
    font-size: 10px;
    line-height: 1.6;
    margin-right: 14px;
    
  }
  
  .navBar__unLogged-item:last-child {
    margin-right: 0;
  }
  .navBar__unLogged-btn_type_login {
    padding: 7px 12px;
    margin-right: 0;
  }

  .navBar__burgerLine {
    position: absolute;
    width: 22px;
  }
 }