.logo {
  display: block;
  min-height: 38px;
  min-width: 38px;
  background-size: contain;
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  
}

.logo:hover {
  transform: scale(1.08);
  opacity: 0.7;
}